{"swagger":"2.0","info":{"description":"Spring Boot REST API for Fusion","version":"1.0","title":"Fusion REST API","contact":{"name":"Zeta","url":"https://zeta.in/","email":"support@zeta.in"}},"host":"fusion.gw.zetapay.in","basePath":"/","tags":[{"name":" Account Management","description":"Tachyon Account Controller"},{"name":"Account Management","description":"Account Controller"},{"name":"AccountHolder Management","description":"Account Holder Controller"},{"name":"Legal Account Holder Management","description":"Cosmos Management Controller"},{"name":"Operations center  Management","description":"Tachyon Account Holder Controller"},{"name":"SupportCentre","description":"Support Centre Controller"},{"name":"account-holder-transaction-policy-controller","description":"Account Holder Transaction Policy Controller"},{"name":"aries-controller","description":"Aries Controller"},{"name":"aries-controller-v-1","description":"Aries Controller V 1"},{"name":"athena-manager-controller","description":"Athena Manager Controller"},{"name":"athena-manager-controller-v-1","description":"Athena Manager Controller V 1"},{"name":"athena-manager-controller-v-2","description":"Athena Manager Controller V 2"},{"name":"basic-error-controller","description":"Basic Error Controller"},{"name":"beneficiary-controller","description":"Beneficiary Controller"},{"name":"beneficiary-controller-v-1","description":"Beneficiary Controller V 1"},{"name":"bundle-issuance-controller","description":"Bundle Issuance Controller"},{"name":"bundle-issuance-controller-v-1","description":"Bundle Issuance Controller V 1"},{"name":"bundles-controller","description":"Bundles Controller"},{"name":"bundles-controller-v-1","description":"Bundles Controller V 1"},{"name":"calendar-controller","description":"Calendar Controller"},{"name":"coa-controller","description":"Coa Controller"},{"name":"corporate-beneficiary-controller","description":"Corporate Beneficiary Controller"},{"name":"corporate-beneficiary-controller-v-1","description":"Corporate Beneficiary Controller V 1"},{"name":"cron-controller","description":"Cron Controller"},{"name":"embossing-controller","description":"Embossing Controller"},{"name":"fusion-config-controller","description":"Fusion Config Controller"},{"name":"health-check-controller","description":"Health Check Controller"},{"name":"ledger-controller","description":"Ledger Controller"},{"name":"ledger-controller-v-1","description":"Ledger Controller V 1"},{"name":"ledger-controller-v-2","description":"Ledger Controller V 2"},{"name":"ofac-retro-subscriber","description":"OFAC Retro Subscriber"},{"name":"operation-handler","description":"Operation Handler"},{"name":"payment-controller","description":"Payment Controller"},{"name":"policy-error-code-controller","description":"Policy Error Code Controller"},{"name":"product-controller","description":"Product Controller"},{"name":"product-controller-v-1","description":"Product Controller V 1"},{"name":"program-controller","description":"Program Controller"},{"name":"program-controller-v-1","description":"Program Controller V 1"},{"name":"resource-controller","description":"Resource Controller"},{"name":"transaction-category-controller","description":"Transaction Category Controller"},{"name":"transaction-category-controller-v-2","description":"Transaction Category Controller V 2"},{"name":"transaction-policy-controller","description":"Transaction Policy Controller"},{"name":"version-check-controller","description":"Version Check Controller"}],"paths":{"/actuator/health":{"get":{"tags":["operation-handler"],"summary":"handle","operationId":"handleUsingGET_2","produces":["application/json","application/vnd.spring-boot.actuator.v2+json"],"parameters":[{"in":"body","name":"body","description":"body","required":false,"schema":{"type":"object","additionalProperties":{"type":"string"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/actuator/health/{component}":{"get":{"tags":["operation-handler"],"summary":"handle","operationId":"handleUsingGET_1","produces":["application/json","application/vnd.spring-boot.actuator.v2+json"],"parameters":[{"in":"body","name":"body","description":"body","required":false,"schema":{"type":"object","additionalProperties":{"type":"string"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/actuator/health/{component}/{instance}":{"get":{"tags":["operation-handler"],"summary":"handle","operationId":"handleUsingGET","produces":["application/json","application/vnd.spring-boot.actuator.v2+json"],"parameters":[{"in":"body","name":"body","description":"body","required":false,"schema":{"type":"object","additionalProperties":{"type":"string"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/v1/ifi/{ifiID}/accountHolder/headless":{"post":{"tags":["AccountHolder Management"],"summary":"Create a headless account holder","operationId":"createHeadlessAccountHolderUsingPOST_1","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"ifiID","in":"path","description":"ID of the IFI (on-boarded organization) under which the headless account holder is being created","required":false,"type":"integer","format":"int64"},{"in":"body","name":"createAccountHolderRequest","description":"createAccountHolderRequest","required":true,"schema":{"$ref":"#/definitions/CreateAccountHolderRequest"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/GetAccountHolderRelationListResponse"}}}}},"/api/v1/ifi/{ifiID}/accountHolders/{accountHolderID}":{"get":{"tags":["AccountHolder Management"],"summary":"Get all details of the account holder","operationId":"getAccountHolderByIDUsingGET_1","produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ID of the IFI (on-boarded organization) under which the account","required":false,"type":"integer","format":"int64"},{"name":"accountHolderID","in":"path","description":"ID of the account holder whose details are being retrieved","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AccountHolder"}}}}},"/api/v1/ifi/{ifiID}/accountHolders/{accountHolderID}/transactionCategories":{"get":{"tags":["ledger-controller-v-2"],"summary":"Get User Transaction Categories","operationId":"getTransactionCategoryUsingGET","produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ifiID","required":true,"type":"integer","format":"int64"},{"name":"accountHolderID","in":"path","description":"accountHolderID","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GetAllTxnCategoriesResponsePayload"}}}},"post":{"tags":["ledger-controller-v-2"],"summary":"Create User Transaction Category","operationId":"createTransactionCategoryUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ifiID","required":true,"type":"integer","format":"int64"},{"name":"accountHolderID","in":"path","description":"accountHolderID","required":true,"type":"string"},{"in":"body","name":"payload","description":"payload","required":true,"schema":{"$ref":"#/definitions/CreateUserTransactionCategoryRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CreateUserTransactionCategoryResponse"}}}}},"/api/v1/ifi/{ifiID}/accountHolders/{accountHolderID}/transactionPolicies":{"post":{"tags":["account-holder-transaction-policy-controller"],"summary":"Create Account Holder TransactionPolicy","operationId":"createAccountHolderTransactionPolicyUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ID of the IFI (on-boarded organization).","required":false,"type":"integer","format":"int64"},{"name":"accountHolderID","in":"path","description":"ID of the account holder for whom a policy is being created","required":false,"type":"string"},{"in":"body","name":"payload","description":"payload","required":true,"schema":{"$ref":"#/definitions/CreateTransactionPolicyRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/TransactionPolicyResponse"}}}}},"/api/v1/ifi/{ifiID}/accountHolders/{accountHolderID}/transactionPolicies/{transactionPolicyID}":{"get":{"tags":["account-holder-transaction-policy-controller"],"summary":"Get Account Holder TransactionPolicy","operationId":"getAccountHolderTransactionPolicyUsingGET","produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ID of the IFI (on-boarded organization).","required":false,"type":"integer","format":"int64"},{"name":"accountHolderID","in":"path","description":"ID of the account holder whose particular policy is being retrieved","required":false,"type":"string"},{"name":"transactionPolicyID","in":"path","description":"Transaction Policy ID of the account holder","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/TransactionPolicyResponse"}}}},"put":{"tags":["account-holder-transaction-policy-controller"],"summary":"Replace Account Holder TransactionPolicy","operationId":"replaceAccountHolderTransactionPolicyUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ID of the IFI (on-boarded organization).","required":false,"type":"integer","format":"int64"},{"name":"accountHolderID","in":"path","description":"ID of the account holder whose policy is being updated","required":false,"type":"string"},{"name":"transactionPolicyID","in":"path","description":"Transaction Policy ID of the account holder","required":false,"type":"integer","format":"int64"},{"in":"body","name":"payload","description":"payload","required":true,"schema":{"$ref":"#/definitions/ReplaceTransactionPolicyRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/TransactionPolicyResponse"}}}}},"/api/v1/ifi/{ifiID}/accountHolders/{accountHolderID}/transactionPolicies/{transactionPolicyID}/{state}":{"patch":{"tags":["account-holder-transaction-policy-controller"],"summary":"Update Account Holder TransactionPolicy State","operationId":"updateAccountHolderTransactionPolicyStateUsingPATCH","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ID of the IFI (on-boarded organization).","required":false,"type":"integer","format":"int64"},{"name":"accountHolderID","in":"path","description":"ID of the account holder whose policy state is being updated","required":false,"type":"string"},{"name":"transactionPolicyID","in":"path","description":"Transaction Policy ID of the account holder","required":false,"type":"integer","format":"int64"},{"name":"state","in":"path","description":"Policy State of Transaction Policy","required":false,"type":"string","enum":["ENABLED","DISABLED"]}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/TransactionPolicyResponse"}}}}},"/api/v1/ifi/{ifiID}/accountHolders/{accountHolderID}/transactionPolicies?sortKey\u003dcreatedAt":{"get":{"tags":["account-holder-transaction-policy-controller"],"summary":"List All Account Holder TransactionPolicy","operationId":"listAllAccountHolderTransactionPoliciesUsingGET","produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ID of the IFI (on-boarded organization).","required":false,"type":"integer","format":"int64"},{"name":"accountHolderID","in":"path","description":"ID  of the account holder whose policies are being retrieved","required":false,"type":"string"},{"in":"body","name":"coaID","description":"coaID","required":false,"schema":{"type":"integer","format":"int64"}},{"in":"body","name":"pageNumber","description":"pageNumber","required":false,"schema":{"type":"integer","format":"int32"}},{"in":"body","name":"pageSize","description":"pageSize","required":false,"schema":{"type":"integer","format":"int32"}},{"in":"body","name":"sortOrder","description":"sortOrder","required":false,"schema":{"type":"string","enum":["ASCENDING","DESCENDING"]}},{"in":"body","name":"sortKey","description":"sortKey","required":false,"schema":{"type":"string","enum":["createdAt"]}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ListTransactionPoliciesResponse"}}}}},"/api/v1/ifi/{ifiID}/accounts/update":{"post":{"tags":["Account Management"],"summary":"Update all Accounts for a given real or headless account holder","operationId":"accountHolderUpdatedUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ifiID","required":false,"type":"integer","format":"int64"},{"in":"body","name":"payload","description":"payload","required":true,"schema":{"$ref":"#/definitions/UpdateProductForAllAccountsRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EmptyPayload"}}}}},"/api/v1/ifi/{ifiID}/accounts/{accountID}":{"get":{"tags":["Account","Account Management"],"summary":"getAccount","description":"Returns Account object given an accountID. The accountID should be a UUID.","operationId":"getAccountUsingGET_1","produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ID of the IFI (on-boarded organization).","required":false,"type":"integer","format":"int64"},{"name":"accountID","in":"path","description":"ID of the Account whose details are to be retrieved.","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Account"}}}}},"/api/v1/ifi/{ifiID}/accounts/{accountID}/accessors":{"get":{"tags":["Account Management"],"summary":"Get all accessors for a given accountID","operationId":"getAccountAccessorsUsingGET_1","produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ID of the IFI (on-boarded organization) under which the account accessors exist","required":false,"type":"integer","format":"int64"},{"name":"accountID","in":"path","description":"ID of the account whose accessor details are being retrieved","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GetAccountAccessorListResponse"}}}},"post":{"tags":["Account Management"],"summary":"Create accessors for the given accountID","operationId":"createAccountAccessorUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ID of the IFI (on-boarded organization) under which the account accessor is being created","required":false,"type":"integer","format":"int64"},{"name":"accountID","in":"path","description":"ID of the account for which the accessor is being created","required":false,"type":"string"},{"in":"body","name":"addAccountAccessorRequest","description":"addAccountAccessorRequest","required":true,"schema":{"$ref":"#/definitions/AddAccountAccessorRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Accessor"}}}}},"/api/v1/ifi/{ifiID}/accounts/{accountID}/accessors/{accessorID}":{"get":{"tags":["Account Management"],"summary":"Get accessor for a given accountID by the ID","operationId":"getAccountAccessorByIDUsingGET_1","produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ID of the IFI (on-boarded organization) under which the account accessor exists","required":false,"type":"integer","format":"int64"},{"name":"accountID","in":"path","description":"ID of the account whose accessor details are being retrieved","required":false,"type":"string"},{"name":"accessorID","in":"path","description":"ID of the accessor whose details are being retrieved","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Accessor"}}}}},"/api/v1/ifi/{ifiID}/accounts/{accountID}/balance":{"get":{"tags":["Account","Account Management"],"summary":"getBalance","description":"Get Balance of the accountID provided.","operationId":"getBalanceUsingGET_1","produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ID of the IFI (on-boarded organization).","required":false,"type":"integer","format":"int64"},{"name":"accountID","in":"path","description":"ID of the Account whose balance details are to be retrieved.","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GetAccountBalanceResponse"}}}}},"/api/v1/ifi/{ifiID}/accounts/{accountID}/relations":{"get":{"tags":["Account Management"],"summary":"Get all relations of the given accountID","operationId":"getAccountRelationsUsingGET_1","produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ID of the IFI (on-boarded organization) under which the account relations exist","required":false,"type":"integer","format":"int64"},{"name":"accountID","in":"path","description":"ID of the account whose relation details are being retrieved","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GetAccountRelationListResponse"}}}},"post":{"tags":["Account Management"],"summary":"Create relation for the given accountID","operationId":"createAccountRelationUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ID of the IFI (on-boarded organization) under which the account relation is being created","required":false,"type":"integer","format":"int64"},{"name":"accountID","in":"path","description":"ID of the account for which relation is being created","required":false,"type":"string"},{"in":"body","name":"addAccountRelationRequest","description":"addAccountRelationRequest","required":true,"schema":{"$ref":"#/definitions/AddAccountRelationRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AccountRelation"}}}}},"/api/v1/ifi/{ifiID}/accounts/{accountID}/relations/{relationID}":{"get":{"tags":["Account Management"],"summary":"Get the relation of an account by the ID","operationId":"getAccountRelationByIDUsingGET_1","produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ID of the IFI (on-boarded organization) under which the account relation exists","required":false,"type":"integer","format":"int64"},{"name":"accountID","in":"path","description":"ID of the account whose relation details are being retrieved","required":false,"type":"string"},{"name":"relationID","in":"path","description":"ID of the relation whose details are being retrieved","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AccountRelation"}}}}},"/api/v1/ifi/{ifiID}/accounts/{accountID}/transactionPolicies":{"get":{"tags":["Account Management"],"summary":"getTransactionPoliciesByAccount","operationId":"getTransactionPoliciesByAccountUsingGET_1","produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ID of the IFI (on-boarded organization) under which the policies exist","required":false,"type":"integer","format":"int64"},{"name":"accountID","in":"path","description":"ID of the account whose policy details are being retrieved","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GetAllTransactionPoliciesResponse"}}}}},"/api/v1/ifi/{ifiID}/accounts/{accountID}/transactions":{"get":{"tags":["Account Management"],"summary":"Get all transactions of an account","operationId":"getTransactionsUsingGET_1","produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ID of the IFI (on-boarded organization) under which the account transactions exist","required":false,"type":"integer","format":"int64"},{"name":"accountID","in":"path","description":"ID of the account whose transaction details are being retrieved","required":false,"type":"string"},{"in":"body","name":"startingAfter","description":"startingAfter","required":false,"schema":{"type":"integer","format":"int64"}},{"in":"body","name":"endingBefore","description":"endingBefore","required":false,"schema":{"type":"integer","format":"int64"}},{"in":"body","name":"pageSize","description":"pageSize","required":false,"schema":{"type":"integer","format":"int32"}},{"in":"body","name":"pageNumber","description":"pageNumber","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GetAccountTransactionListResponse"}}}}},"/api/v1/ifi/{ifiID}/accounts/{accountID}/transactions/{transactionID}":{"get":{"tags":["Account Management"],"summary":"Get information of a specific transaction as per ID","operationId":"getTransactionUsingGET_1","produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ID of the IFI (on-boarded organization) under which the account transaction exists","required":false,"type":"integer","format":"int64"},{"name":"accountID","in":"path","description":"ID of the account whose transaction details are being retrieved","required":false,"type":"string"},{"name":"transactionID","in":"path","description":"ID of the transaction whose details are being retrieved","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AccountTransaction"}}}}},"/api/v1/ifi/{ifiID}/accounts/{accountID}/updateStatus":{"put":{"tags":["Account Management"],"summary":"Update Account Status","operationId":"updateAccountStatusUsingPUT_1","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"ifiID","in":"path","description":"ID of the IFI (on-boarded organization) under which the account","required":false,"type":"integer","format":"int64"},{"name":"accountID","in":"path","description":"ID of the Account","required":false,"type":"string"},{"in":"body","name":"updateAccountStatusRequest","description":"updateAccountStatusRequest","required":true,"schema":{"$ref":"#/definitions/UpdateAccountStatusRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/UpdateAccountStatusResponse"}}}}},"/api/v1/ifi/{ifiID}/accounts/{accountID}/vectors":{"get":{"tags":["Account Management"],"summary":"Get all vectors of the given accountID","operationId":"getAccountVectorsUsingGET_1","produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ID of the IFI (on-boarded organization) under which the account vector exists","required":false,"type":"integer","format":"int64"},{"name":"accountID","in":"path","description":"ID of the account whose vector details are being retrieved","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GetAccountVectorListResponse"}}}},"post":{"tags":["Account Management"],"summary":"Create vector for the given accountID","operationId":"createAccountVectorUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ID of the IFI (on-boarded organization) under which the account vector is being created","required":false,"type":"integer","format":"int64"},{"name":"accountID","in":"path","description":"ID of the account whose vector details are being created","required":false,"type":"string"},{"in":"body","name":"addAccountVectorRequest","description":"addAccountVectorRequest","required":true,"schema":{"$ref":"#/definitions/AddAccountVectorRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AccountVector"}}}}},"/api/v1/ifi/{ifiID}/accounts/{accountID}/vectors/{vectorID}":{"get":{"tags":["Account Management"],"summary":"Get the vector of an account by ID","operationId":"getAccountVectorByIDUsingGET_1","produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ID of the IFI (on-boarded organization) under which the account vector exists","required":false,"type":"integer","format":"int64"},{"name":"accountID","in":"path","description":"ID of the account whose vector details are being retrieved","required":false,"type":"string"},{"name":"vectorID","in":"path","description":"ID of the vector whose details are being retrieved","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AccountVector"}}}}},"/api/v1/ifi/{ifiID}/accountsInfo/{accountID}":{"get":{"tags":["Account Management"],"summary":"getAccountInfo","operationId":"getAccountInfoUsingGET_1","produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ID of the IFI (on-boarded organization) under which the account","required":false,"type":"integer","format":"int64"},{"name":"accountID","in":"path","description":"ID of the account whose details are being retrieved","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AccountInfo"}}}}},"/api/v1/ifi/{ifiID}/accounts{?pageNumber,pageSize,sortBy,sortOrder,pageIndex,lastFetchedId}":{"get":{"tags":["Account Management"],"summary":"Get all accounts of IFI","operationId":"getAccountsUsingGET_2","produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ID of the IFI (on-boarded organization) under which the accounts exist","required":false,"type":"integer","format":"int64"},{"name":"pageNumber","in":"query","description":"pageNumber","required":true,"type":"integer","format":"int64"},{"name":"pageSize","in":"query","description":"pageSize","required":true,"type":"integer","format":"int64"},{"name":"sortBy","in":"query","description":"sortBy","required":false,"type":"string"},{"name":"sortOrder","in":"query","description":"sortOrder","required":false,"type":"string","enum":["asc","desc"]},{"name":"pageIndex","in":"query","description":"pageIndex","required":false,"type":"string"},{"name":"lastFetchedId","in":"query","description":"lastFetchedId","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GetAccountListResponse"}}}}},"/api/v1/ifi/{ifiID}/aggregateExpressions":{"get":{"tags":["ledger-controller-v-2"],"summary":"get All Aggregation Expressions","operationId":"getAggregateExpressionListUsingGET_2","produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ifiID","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GetAggregateExpressionListResponse"}}}}},"/api/v1/ifi/{ifiID}/applications/editIndividual":{"post":{"tags":["aries-controller-v-1"],"summary":"Edit Individual Application","operationId":"editApplicationUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ifiID","required":true,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/EditIndividualApplicationRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Account"}}}}},"/api/v1/ifi/{ifiID}/applications/newIndividual":{"post":{"tags":["aries-controller-v-1"],"summary":"Create Individual Application With Auto Approval","operationId":"createApplicationWithAutoApprovalUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ifiID","required":true,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/CreateAccountHolderWithAutoApprovalRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Account"}}}}},"/api/v1/ifi/{ifiID}/applications/newIndividualApplication":{"post":{"tags":["aries-controller-v-1"],"summary":"Create Individual Application","operationId":"createApplicationUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ifiID","required":true,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/CreateAccountHolderApplicationRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Account"}}},"deprecated":true}},"/api/v1/ifi/{ifiID}/applications/{applicationID}":{"get":{"tags":["aries-controller-v-1"],"summary":"Get Individual Application","operationId":"getApplicationUsingGET_1","produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ifiID","required":true,"type":"integer","format":"int64"},{"name":"applicationID","in":"path","description":"applicationID","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Account"}}}},"put":{"tags":["aries-controller-v-1"],"summary":"Update Individual Application","operationId":"updateApplicationUsingPUT_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ifiID","required":true,"type":"integer","format":"int64"},{"name":"applicationID","in":"path","description":"applicationID","required":true,"type":"string"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/UpdateAccountHolderApplicationRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Account"}}}},"delete":{"tags":["aries-controller-v-1"],"summary":"Delete Individual Application","operationId":"deleteApplicationUsingDELETE_1","produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ifiID","required":true,"type":"integer","format":"int64"},{"name":"applicationID","in":"path","description":"applicationID","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Account"}}}}},"/api/v1/ifi/{ifiID}/applications/{applicationID}/kycStatus/{kycStatus}":{"put":{"tags":["aries-controller-v-1"],"summary":"Update Application Status","operationId":"updateApplicationKYCStatusUsingPUT_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ifiID","required":true,"type":"integer","format":"int64"},{"name":"applicationID","in":"path","description":"applicationID","required":true,"type":"string"},{"name":"kycStatus","in":"path","description":"kycStatus","required":true,"type":"string"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/UpdateKycStatusRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Account"}}}}},"/api/v1/ifi/{ifiID}/applications/{applicationID}/spool/{spoolID}":{"put":{"tags":["aries-controller-v-1"],"summary":"Update Application Spool","operationId":"updateApplicationSpoolUsingPUT_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ifiID","required":true,"type":"integer","format":"int64"},{"name":"applicationID","in":"path","description":"applicationID","required":true,"type":"string"},{"name":"spoolID","in":"path","description":"spoolID","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Account"}}}}},"/api/v1/ifi/{ifiID}/applications/{applicationID}/status/{newStatus}":{"put":{"tags":["aries-controller-v-1"],"summary":"Update Application Status","operationId":"updateApplicationStatusUsingPUT_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ifiID","required":true,"type":"integer","format":"int64"},{"name":"applicationID","in":"path","description":"applicationID","required":true,"type":"string"},{"name":"newStatus","in":"path","description":"newStatus","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Account"}}}}},"/api/v1/ifi/{ifiID}/applications{?status,pageSize,pageNumber}":{"get":{"tags":["aries-controller-v-1"],"summary":"Get All Applications","operationId":"getAllApplicationsUsingGET_1","produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ifiID","required":true,"type":"integer","format":"int64"},{"name":"status","in":"query","description":"status","required":true,"type":"string"},{"name":"pageSize","in":"query","description":"pageSize","required":true,"type":"integer","format":"int32"},{"name":"pageNumber","in":"query","description":"pageNumber","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Account"}}}}},"/api/v1/ifi/{ifiID}/athena-manager/createEntityPolicyMapping":{"post":{"tags":["athena-manager-controller-v-1"],"summary":"Create Entity Policy Mapping","operationId":"createPolicyMappingUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ifiID","required":true,"type":"integer","format":"int64"},{"in":"body","name":"createPolicyMappingRequest","description":"createPolicyMappingRequest","required":true,"schema":{"$ref":"#/definitions/CreatePolicyMappingRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/TransactionPolicyResponse"}}}}},"/api/v1/ifi/{ifiID}/athena-manager/createExtendedProduct":{"post":{"tags":["athena-manager-controller-v-1"],"summary":"CreateExtendedProduct api via fusion","operationId":"createExtendedProductUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ifiID","required":true,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/CreateExtendedProductRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Product"}}}}},"/api/v1/ifi/{ifiID}/athena-manager/createExtendedProductFamily":{"post":{"tags":["athena-manager-controller-v-1"],"summary":"CreateExtendedProductFamily api via fusion","operationId":"createExtendedProductFamilyUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ifiID","required":true,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/CreateExtendedProductFamilyRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ProductFamily"}}}}},"/api/v1/ifi/{ifiID}/athena-manager/entitycode/{entity}":{"get":{"tags":["athena-manager-controller-v-1"],"summary":"Get Entity Code","operationId":"getEntityCodeUsingGET_1","produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ifiID","required":true,"type":"integer","format":"int64"},{"name":"entity","in":"path","description":"entity","required":true,"type":"string"},{"in":"body","name":"timeZone","description":"timeZone","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EntityCodeResponse"}}}}},"/api/v1/ifi/{ifiID}/athena-manager/getAllTransactionPoliciesByIFI":{"get":{"tags":["athena-manager-controller-v-1"],"summary":"Get all transaction policies for a given IFI","operationId":"getAllTransactionPoliciesByIFIUsingGET_1","produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ifiID","required":true,"type":"integer","format":"int64"},{"in":"body","name":"pageSize","description":"pageSize","required":false,"schema":{"type":"integer","format":"int64"}},{"in":"body","name":"pageIndex","description":"pageIndex","required":false,"schema":{"type":"integer","format":"int64"}},{"in":"body","name":"showLimits","description":"showLimits","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GetAllTransactionPoliciesResponse"}}}}},"/api/v1/ifi/{ifiID}/athena-manager/getCoaList":{"get":{"tags":["athena-manager-controller-v-1"],"summary":"Get all CoAs for a given IFI","operationId":"getCoaListByIFIUsingGET_1","produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ifiID","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GetCoaListResponse"}}}}},"/api/v1/ifi/{ifiID}/athena-manager/getCoaNodes{?coaID}":{"get":{"tags":["athena-manager-controller-v-1"],"summary":"Get all CoA Nodes for a given IFI and CoAID","operationId":"getCoaNodesByIFIAndCoaIDUsingGET_1","produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ifiID","required":true,"type":"integer","format":"int64"},{"name":"coaID","in":"query","description":"coaID","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GetCoaNodesResponse"}}}}},"/api/v1/ifi/{ifiID}/athena-manager/getEntityGroupList{?entityType}":{"get":{"tags":["athena-manager-controller-v-1"],"summary":"Get EntityGrouplist for a given ifi and entityType","operationId":"getEntityGroupListUsingGET_1","produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ifiID","required":true,"type":"integer","format":"int64"},{"name":"entityType","in":"query","description":"entityType","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ListEntityGroupResponse"}}}}},"/api/v1/ifi/{ifiID}/athena-manager/getPolicyMappings{?entityID,policyEntityType,policyType,policyID}":{"get":{"tags":["athena-manager-controller-v-1"],"summary":"Get PolicyMappings for a given ifi, entityID, policyEntityType, policyType and PolicyId","operationId":"getPolicyMappingsUsingGET_1","produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ifiID","required":true,"type":"integer","format":"int64"},{"name":"entityID","in":"query","description":"entityID","required":true,"type":"string"},{"name":"policyEntityType","in":"query","description":"policyEntityType","required":false,"type":"string","default":"PRODUCT_FAMILY"},{"name":"policyType","in":"query","description":"policyType","required":false,"type":"string","default":"TRANSACTION_POLICY"},{"name":"policyID","in":"query","description":"policyID","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GetProductListResponse"}}}}},"/api/v1/ifi/{ifiID}/athena-manager/getProductFamilyList":{"get":{"tags":["athena-manager-controller-v-1"],"summary":"Get ProductFamilyList for a given ifi","operationId":"getProductFamilyListUsingGET_1","produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ifiID","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GetProductFamilyListResponse"}}}}},"/api/v1/ifi/{ifiID}/athena-manager/getProductFamily{?id}":{"get":{"tags":["athena-manager-controller-v-1"],"summary":"Get ProductFamily for a given ifi and id","operationId":"getProductFamilyUsingGET_1","produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ifiID","required":true,"type":"integer","format":"int64"},{"name":"id","in":"query","description":"productFamilyId","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ProductFamily"}}}}},"/api/v1/ifi/{ifiID}/athena-manager/getProductList":{"get":{"tags":["athena-manager-controller-v-1"],"summary":"Get ProductList for a given ifi","operationId":"getProductListUsingGET_1","produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ifiID","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GetProductListResponse"}}}}},"/api/v1/ifi/{ifiID}/athena-manager/getProduct{?id}":{"get":{"tags":["athena-manager-controller-v-1"],"summary":"Get Product with a given IFI and ProductID","operationId":"getProductByIFIAndIDUsingGET_2","produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ifiID","required":true,"type":"integer","format":"int64"},{"name":"id","in":"query","description":"id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Product"}}}}},"/api/v1/ifi/{ifiID}/athena-manager/getTransactionPoliciesByEntityID":{"get":{"tags":["athena-manager-controller-v-1"],"summary":"get Transaction Policies by EntityID","operationId":"getTransactionPoliciesByEntityIDUsingGET_1","produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ifiID","required":true,"type":"integer","format":"int64"},{"in":"body","name":"entityType","description":"entityType","required":false,"schema":{"type":"string","enum":["PRODUCT_FAMILY","PRODUCT","PROGRAM","ACCOUNT_HOLDER","ACCOUNT"]}},{"in":"body","name":"entityID","description":"entityID","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GetAllTransactionPoliciesResponse"}}}}},"/api/v1/ifi/{ifiID}/athena-manager/getTransactionPolicyByID{?id}":{"get":{"tags":["athena-manager-controller-v-1"],"summary":"Get TransactionPolicy with a given ID","operationId":"getProductByIFIAndIDUsingGET_3","produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ifiID","required":true,"type":"integer","format":"int64"},{"name":"id","in":"query","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/TransactionPolicyResponse"}}}}},"/api/v1/ifi/{ifiID}/athena-manager/replaceTransactionPolicy/{transactionPolicyID}":{"put":{"tags":["athena-manager-controller-v-1"],"summary":"Replace Transaction Policy","operationId":"replaceTransactionPolicyUsingPUT_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ifiID","required":true,"type":"integer","format":"int64"},{"name":"transactionPolicyID","in":"path","description":"transactionPolicyID","required":true,"type":"string"},{"in":"body","name":"replaceTransactionPolicyRequestPayload","description":"replaceTransactionPolicyRequestPayload","required":true,"schema":{"$ref":"#/definitions/ReplaceTransactionPolicyRequestPayload"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/TransactionPolicyResponse"}}}}},"/api/v1/ifi/{ifiID}/athena-manager/transactionPolicy":{"post":{"tags":["athena-manager-controller-v-1"],"summary":"Create TransactionPolicy","operationId":"createTransactionPolicyUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ifiID","required":true,"type":"integer","format":"int64"},{"in":"body","name":"createTransactionPolicyRequestBuilder","description":"createTransactionPolicyRequestBuilder","required":true,"schema":{"$ref":"#/definitions/Builder"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/TransactionPolicyResponse"}}}}},"/api/v1/ifi/{ifiID}/athena-manager/updateTransactionPolicy/{transactionPolicyId}":{"patch":{"tags":["athena-manager-controller-v-1"],"summary":"Update Transaction Policy State","operationId":"updateTransactionPolicyStateUsingPATCH_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ifiID","required":true,"type":"integer","format":"int64"},{"name":"transactionPolicyId","in":"path","description":"transactionPolicyId","required":true,"type":"string"},{"in":"body","name":"updateTransactionPolicyStateRequestPayload","description":"updateTransactionPolicyStateRequestPayload","required":true,"schema":{"$ref":"#/definitions/UpdateTransactionPolicyStateRequestPayload"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EmptyPayload"}}}}},"/api/v1/ifi/{ifiID}/bundles":{"get":{"tags":["Bundles"],"summary":"Get all Bundles","description":"Get all Bundles available for an IFI. The response returns a unique identifier for each available Bundle.","operationId":"getAllBundlesUsingGET_1","produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ID of the IFI (on-boarded organization) under which the bundles are being retrieved","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/IBundleView"}}}}}},"/api/v1/ifi/{ifiID}/bundles/{bundleID}":{"get":{"tags":["Bundles"],"summary":"Get Bundle by Bundle ID","description":"Returns Bundle by bundleID for an IFI.","operationId":"getBundleByIDUsingGET_1","produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ID of the IFI (on-boarded organization) under which the bundles are being retrieved by bundleID","required":false,"type":"integer","format":"int64"},{"name":"bundleID","in":"path","description":"ID of the bundle whose details are being retrieved","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/IBundleView"}}}}},"/api/v1/ifi/{ifiID}/bundles/{bundleID}/issueAccount":{"post":{"tags":["bundle-issuance-controller-v-1"],"summary":"Issue specific Account from a bundle ","operationId":"issueAccountProductUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ID of the IFI (on-boarded organization) under which the Account is being issued","required":true,"type":"integer","format":"int64"},{"name":"bundleID","in":"path","description":"ID of the bundle whose account product is being issued","required":true,"type":"string"},{"in":"body","name":"issueAccountArtifactRequest","description":"issueAccountArtifactRequest","required":true,"schema":{"$ref":"#/definitions/IssueAccountArtifactRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/IssueAccountArtifactResponse"}}}}},"/api/v1/ifi/{ifiID}/bundles/{bundleID}/issueAccountProducts":{"post":{"tags":["bundle-issuance-controller-v-1"],"summary":"Issue specific Account from a bundle ","operationId":"issueAccountProductUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ID of the IFI (on-boarded organization) under which the Account is being issued","required":true,"type":"integer","format":"int64"},{"name":"bundleID","in":"path","description":"ID of the bundle whose account product is being issued","required":true,"type":"string"},{"in":"body","name":"issueAccountArtifactRequests","description":"issueAccountArtifactRequests","required":true,"schema":{"$ref":"#/definitions/IssueAccountProductsRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/IssueAccountArtifactResponse"}}}}},"/api/v1/ifi/{ifiID}/bundles/{bundleID}/issueBundle":{"post":{"tags":["bundle-issuance-controller-v-1"],"summary":"Issue bundle to a specific individual/company","operationId":"issueBundleUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ID of the IFI (on-boarded organization) under which the bundle is being issued","required":true,"type":"integer","format":"int64"},{"name":"bundleID","in":"path","description":"ID of the bundle which is being issued","required":true,"type":"string"},{"in":"body","name":"issueBundleRequest","description":"issueBundleRequest","required":true,"schema":{"$ref":"#/definitions/IssueBundleRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/IssueBundleResponse"}}}}},"/api/v1/ifi/{ifiID}/bundles/{bundleID}/issueBundleOverridingAssessment":{"post":{"tags":["bundle-issuance-controller-v-1"],"summary":"Issue bundle to a specific individual/company without Assessment irrespective of ifi whitelisting","operationId":"issueBundleOverridingOFACCheckUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ID of the IFI (on-boarded organization) under which the bundle is being issued","required":true,"type":"integer","format":"int64"},{"name":"bundleID","in":"path","description":"ID of the bundle which is being issued","required":true,"type":"string"},{"in":"body","name":"overrideIssuanceRequest","description":"overrideIssuanceRequest","required":true,"schema":{"$ref":"#/definitions/OverrideIssuanceRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/IssueBundleResponse"}}}}},"/api/v1/ifi/{ifiID}/bundles/{bundleID}/issueFormFactor":{"post":{"tags":["bundle-issuance-controller-v-1"],"summary":"Issue specific form factor of a resource to a specific individual/company","operationId":"issueFormFactorUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ID of the IFI (on-boarded organization) under which the form factor is being issued","required":true,"type":"integer","format":"int64"},{"name":"bundleID","in":"path","description":"ID of the bundle whose form factor/card is being issued","required":true,"type":"string"},{"in":"body","name":"issueFormFactorRequest","description":"issueFormFactorRequest","required":true,"schema":{"$ref":"#/definitions/IssueFormFactorRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/IssueFormFactorResponse"}}}}},"/api/v1/ifi/{ifiID}/bundles/{bundleID}/issuePaymentProducts":{"post":{"tags":["bundle-issuance-controller-v-1"],"summary":"Issue specific Account from a bundle ","operationId":"issueMultiplePaymentProductsUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ID of the IFI (on-boarded organization) under which the Resource is being issued","required":true,"type":"integer","format":"int64"},{"name":"bundleID","in":"path","description":"ID of the bundle whose account product is being issued","required":true,"type":"string"},{"in":"body","name":"issuePaymentProductsRequest","description":"issuePaymentProductsRequest","required":true,"schema":{"$ref":"#/definitions/IssuePaymentProductsRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/IssueAccountArtifactResponse"}}}}},"/api/v1/ifi/{ifiID}/bundles/{bundleID}/issueResource":{"post":{"tags":["bundle-issuance-controller-v-1"],"summary":"Issue specific resource of a bundle to a specific individual/company","operationId":"issueResourceUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ID of the IFI (on-boarded organization) under which the resource is being issued","required":true,"type":"integer","format":"int64"},{"name":"bundleID","in":"path","description":"ID of the bundle whose resource is being issued","required":true,"type":"string"},{"in":"body","name":"issueResourceRequest","description":"issueResourceRequest","required":true,"schema":{"$ref":"#/definitions/IssueResourceRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/IssueResourceResponse"}}}}},"/api/v1/ifi/{ifiID}/calendars":{"post":{"tags":["calendar-controller"],"summary":"Create Calendar for an IFI","operationId":"addCalendarUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ifiID","required":true,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/CreateCalendarRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CalendarInfo"}}}}},"/api/v1/ifi/{ifiID}/calendars/{code}":{"get":{"tags":["calendar-controller"],"summary":"Get Calendar for an IFI and Code","operationId":"getCalendarUsingGET","produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ifiID","required":true,"type":"integer","format":"int64"},{"name":"code","in":"path","description":"code","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GetCalendarResponsePayload"}}}}},"/api/v1/ifi/{ifiID}/cards/list":{"post":{"tags":["Cards list"],"summary":"listCards","description":"The endpoint supports the following views -\n\nBASIC\nEXPANDED\nEXPANDED_SENSITIVE\nOne or multiple filters can be passed to get the results. EXPANDED_SENSITIVE view is supported only if you are PCI DSS compliant.","operationId":"listCardsUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ifiID","required":true,"type":"integer","format":"int64"},{"in":"body","name":"limit","description":"limit","required":false,"schema":{"type":"integer","format":"int32"}},{"in":"body","name":"offset","description":"offset","required":false,"schema":{"type":"integer","format":"int32"}},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/FusionListCardsRequest"}},{"name":"X-Zeta-JWS","in":"header","description":"X-Zeta-JWS","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"type":"object"}}}}}},"/api/v1/ifi/{ifiID}/cards/orders":{"post":{"tags":["embossing-controller"],"summary":"placeBulkOrder","operationId":"placeBulkOrderUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ifiID","required":true,"type":"integer","format":"int64"},{"in":"body","name":"bulkOrderRequest","description":"bulkOrderRequest","required":true,"schema":{"$ref":"#/definitions/BulkOrderRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BulkOrderRequest"}}}}},"/api/v1/ifi/{ifiID}/cards/orders/personalized":{"post":{"tags":["embossing-controller"],"summary":"placePersonalizedOrder","operationId":"placePersonalizedOrderUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ifiID","required":true,"type":"integer","format":"int64"},{"in":"body","name":"personalizedOrderRequest","description":"personalizedOrderRequest","required":true,"schema":{"$ref":"#/definitions/PersonalizedOrderRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PersonalizedOrderRequest"}}}}},"/api/v1/ifi/{ifiID}/cards/orders/replacement":{"post":{"tags":["embossing-controller"],"summary":"placeReplacementOrder","operationId":"placeReplacementOrderUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ifiID","required":true,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/EmbossAndActivateReplacementOrderRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/OrderSummary"}}}}},"/api/v1/ifi/{ifiID}/cards/orders/{orderID}":{"get":{"tags":["Cards order"],"summary":"getOrder","description":"Get order details by ID","operationId":"getOrderUsingGET","produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ifiID","required":true,"type":"string"},{"name":"orderID","in":"path","description":"orderID","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/OrderSummary"}}}}},"/api/v1/ifi/{ifiID}/cards/orders/{orderID}/cancel":{"post":{"tags":["embossing-controller"],"summary":"cancelOrder","operationId":"cancelOrderUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ifiID","required":true,"type":"integer","format":"int64"},{"name":"orderID","in":"path","description":"orderID","required":true,"type":"string"}],"responses":{"200":{"description":"OK"}}}},"/api/v1/ifi/{ifiID}/cards/{cardID}/dispatch":{"post":{"tags":["embossing-controller"],"summary":"dispatchCard","operationId":"dispatchCardUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ifiID","required":true,"type":"integer","format":"int64"},{"name":"cardID","in":"path","description":"cardID","required":true,"type":"string"},{"in":"body","name":"dispatchOrderRequest","description":"dispatchOrderRequest","required":true,"schema":{"$ref":"#/definitions/DispatchOrderRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/OrderSummary"}}}}},"/api/v1/ifi/{ifiID}/cards/{cardIdentifier}":{"get":{"tags":["payment-controller"],"summary":"Get card details by ID","operationId":"getCardUsingGET","produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ifiID","required":true,"type":"integer","format":"int64"},{"name":"cardIdentifier","in":"path","description":"cardIdentifier","required":true,"type":"string"},{"name":"X-Zeta-JWS","in":"header","description":"X-Zeta-JWS","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CardViewResponse"}}}}},"/api/v1/ifi/{ifiID}/cards/{cguid}/generatePin":{"post":{"tags":["payment-controller"],"summary":"Generate PIN for a card form factor","operationId":"generatePinUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ifiID","required":true,"type":"integer","format":"int64"},{"name":"cguid","in":"path","description":"cguid","required":true,"type":"string"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/Builder"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CreateAndLinkFormFactorResponse"}}}}},"/api/v1/ifi/{ifiID}/coas":{"get":{"tags":["coa-controller"],"summary":"Get All Coas","operationId":"getAllCoasUsingGET","produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ifiID","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GetAllCoAsResponsePayload"}}}}},"/api/v1/ifi/{ifiID}/coas/{coaId}":{"get":{"tags":["coa-controller"],"summary":"Get All Coas","operationId":"getCoaUsingGET","produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ifiID","required":true,"type":"integer","format":"int64"},{"name":"coaId","in":"path","description":"coaId","required":true,"type":"integer","format":"int64"},{"in":"body","name":"timeStampEpoch","description":"timeStampEpoch","required":false,"schema":{"type":"integer","format":"int64"}},{"in":"body","name":"includeSummaries","description":"includeSummaries","required":false,"schema":{"type":"boolean"}},{"in":"body","name":"startLevel","description":"startLevel","required":false,"schema":{"type":"integer","format":"int32"}},{"in":"body","name":"endLevel","description":"endLevel","required":false,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GetAllCoAsResponsePayload"}}}}},"/api/v1/ifi/{ifiID}/coas/{coaid}/coaNodes":{"get":{"tags":["athena-manager-controller-v-2"],"summary":"Get all CoA Nodes for a given IFI and CoAID","operationId":"getCoaNodesByIFIAndCoaIDUsingGET_2","produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ifiID","required":true,"type":"integer","format":"int64"},{"name":"coaID","in":"path","description":"coaID","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GetCoaNodesResponse"}}}}},"/api/v1/ifi/{ifiID}/companies/{applicationID}/vectors":{"post":{"tags":["Legal Account Holder Management"],"summary":"Create the vector for an individual","operationId":"addAccountHolderVectorUsingPOST_2","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"ifiID","in":"path","description":"ID of the IFI (on-boarded organization) under which the account holder vector is being created","required":false,"type":"integer","format":"int64"},{"name":"applicationID","in":"path","description":"ID of the application for which the account holder vector is being created","required":false,"type":"string"},{"in":"body","name":"addAccountHolderVectorRequest","description":"addAccountHolderVectorRequest","required":true,"schema":{"$ref":"#/definitions/AddAccountHolderVectorRequest"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/AccountHolderVector"}}}}},"/api/v1/ifi/{ifiID}/companies/{applicationID}/vectors/{vectorID}":{"get":{"tags":["Legal Account Holder Management"],"summary":"Get the vector of an individual by ID","operationId":"getAccountHolderVectorUsingGET_2","produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ID of the IFI (on-boarded organization) under which the account holder","required":false,"type":"integer","format":"int64"},{"name":"applicationID","in":"path","description":"ID of the application for which the account holder vector is being retrieved","required":false,"type":"string"},{"name":"vectorID","in":"path","description":"ID of the vector whose details are being retrieved","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AccountHolderVector"}}}}},"/api/v1/ifi/{ifiID}/companies/{companyID}/beneficiaries":{"post":{"tags":["corporate-beneficiary-controller-v-1"],"summary":"Create a new beneficiary of a company","operationId":"createBeneficiaryUsingPOST_3","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ID of the IFI (on-boarded organization) under which the beneficiary is being created","required":false,"type":"integer","format":"int64"},{"name":"companyID","in":"path","description":"ID of the company for whom the beneficiary is being created","required":false,"type":"string"},{"in":"body","name":"createBeneficiaryRequest","description":"createBeneficiaryRequest","required":true,"schema":{"$ref":"#/definitions/CreateCorporateBeneficiaryRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CorporateBeneficiaryResponse"}}}}},"/api/v1/ifi/{ifiID}/companies/{companyID}/beneficiaries/{beneficiaryID}":{"get":{"tags":["corporate-beneficiary-controller-v-1"],"summary":"Get details of a beneficiary by ID","operationId":"getBeneficiaryByIDUsingGET_3","produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ID of the IFI (on-boarded organization) under which the beneficiary exists","required":false,"type":"integer","format":"int64"},{"name":"companyID","in":"path","description":"ID of the company for whom the beneficiary details are being retrieved","required":false,"type":"string"},{"name":"beneficiaryID","in":"path","description":"ID of the beneficiary whose details are being retrieved","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CorporateBeneficiaryResponse"}}}},"put":{"tags":["corporate-beneficiary-controller-v-1"],"summary":"Update a beneficiary of a company","operationId":"updateBeneficiaryUsingPUT_3","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ID of the IFI (on-boarded organization) under which the beneficiary is being created","required":false,"type":"integer","format":"int64"},{"name":"companyID","in":"path","description":"ID of the company for whom the beneficiary is being created","required":false,"type":"string"},{"name":"beneficiaryID","in":"path","description":"ID of the beneficiary which is being updated belonging to an company","required":false,"type":"string"},{"in":"body","name":"updateCorporateBeneficiaryRequest","description":"updateCorporateBeneficiaryRequest","required":true,"schema":{"$ref":"#/definitions/UpdateCorporateBeneficiaryRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CorporateBeneficiaryResponse"}}}},"delete":{"tags":["corporate-beneficiary-controller-v-1"],"summary":"Delete a beneficiary of a company","operationId":"deleteBeneficiaryUsingDELETE_3","produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ID of the IFI (on-boarded organization) under which the beneficiary is being created","required":false,"type":"integer","format":"int64"},{"name":"companyID","in":"path","description":"ID of the company for whom the beneficiary is being created","required":false,"type":"string"},{"name":"beneficiaryID","in":"path","description":"ID of the beneficiary which is being updated belonging to an company","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CorporateBeneficiaryResponse"}}}}},"/api/v1/ifi/{ifiID}/companies/{companyID}/beneficiaries/{beneficiaryID}/accounts":{"post":{"tags":["corporate-beneficiary-controller-v-1"],"summary":"Create a new beneficiary account of a beneficiary","operationId":"createBeneficiaryAccountUsingPOST_3","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ID of the IFI (on-boarded organization) under which the beneficiary is being created","required":false,"type":"integer","format":"int64"},{"name":"companyID","in":"path","description":"ID of the company for whom the beneficiary is","required":false,"type":"string"},{"name":"beneficiaryID","in":"path","description":"ID of the beneficiary whose account is being created","required":false,"type":"string"},{"in":"body","name":"createCorporateBeneficiaryAccountRequest","description":"createCorporateBeneficiaryAccountRequest","required":true,"schema":{"$ref":"#/definitions/CreateCorporateBeneficiaryAccountRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CorporateBeneficiaryAccountResponse"}}}}},"/api/v1/ifi/{ifiID}/companies/{companyID}/beneficiaries/{beneficiaryID}/accounts/{accountID}":{"get":{"tags":["corporate-beneficiary-controller-v-1"],"summary":"Get details of a specific beneficiary account of an company\u0027s beneficiary ","operationId":"getBeneficiaryAccountByIDUsingGET_3","produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ID of the IFI (on-boarded organization) under which the beneficiary account being retrieved exists","required":false,"type":"integer","format":"int64"},{"name":"companyID","in":"path","description":"ID of the company for whom the beneficiary account being retrieved exists","required":false,"type":"string"},{"name":"beneficiaryID","in":"path","description":"ID of the beneficiary whose beneficiary account details are being retrieved","required":false,"type":"string"},{"name":"accountID","in":"path","description":"ID of the beneficiary account whose details are being retrieved","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BeneficiaryAccountResponse"}}}},"put":{"tags":["corporate-beneficiary-controller-v-1"],"summary":"Update a account of a beneficiary","operationId":"updateBeneficiaryAccountUsingPUT_3","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ID of the IFI (on-boarded organization) under which the beneficiary is being created","required":false,"type":"integer","format":"int64"},{"name":"companyID","in":"path","description":"ID of the company for whom the beneficiary is being created","required":false,"type":"string"},{"name":"beneficiaryID","in":"path","description":"ID of the beneficiary which is being updated belonging to an company","required":false,"type":"string"},{"name":"accountID","in":"path","description":"ID of the account being updated","required":false,"type":"string"},{"in":"body","name":"updateCorporateBeneficiaryAccountRequest","description":"updateCorporateBeneficiaryAccountRequest","required":true,"schema":{"$ref":"#/definitions/UpdateCorporateBeneficiaryAccountRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CorporateBeneficiaryAccountResponse"}}}},"delete":{"tags":["corporate-beneficiary-controller-v-1"],"summary":"Delete a account of a beneficiary","operationId":"deleteBeneficiaryAccountUsingDELETE_3","produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ID of the IFI (on-boarded organization) under which the beneficiary is being created","required":false,"type":"integer","format":"int64"},{"name":"companyID","in":"path","description":"ID of the company for whom the beneficiary is being created","required":false,"type":"string"},{"name":"beneficiaryID","in":"path","description":"ID of the beneficiary which is being updated belonging to an company","required":false,"type":"string"},{"name":"accountID","in":"path","description":"ID of the account being updated","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CorporateBeneficiaryAccountResponse"}}}}},"/api/v1/ifi/{ifiID}/companies/{companyID}/beneficiaries/{beneficiaryID}/accounts/{beneficiaryAccountID}/transfers":{"post":{"tags":["Beneficiary Transfers"],"summary":"Perform transfer to a beneficiary account of an company","operationId":"transferToBeneficiaryAccountUsingPOST_5","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ID of the IFI (on-boarded organization) under which the beneficiary transfer is being performed","required":false,"type":"integer","format":"int64"},{"name":"companyID","in":"path","description":"ID of the company who is performing the beneficiary transfer","required":false,"type":"string"},{"name":"beneficiaryID","in":"path","description":"ID of the beneficiary to whom the transfer is being performed","required":false,"type":"string"},{"name":"beneficiaryAccountID","in":"path","description":"ID of the account of beneficiary to which money has to be transferred","required":false,"type":"string"},{"in":"body","name":"beneficiaryAccountTransactionFusionRequest","description":"beneficiaryAccountTransactionFusionRequest","required":true,"schema":{"$ref":"#/definitions/BeneficiaryAccountTransactionFusionRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BeneficiaryTransactionFusionResponse"}}}}},"/api/v1/ifi/{ifiID}/companies/{companyID}/beneficiaries/{beneficiaryID}/accounts{?sortBy,sortOrder,pageNumber,pageSize}":{"get":{"tags":["corporate-beneficiary-controller-v-1"],"summary":"Get all the accounts of a beneficiary","operationId":"getBeneficiaryAccountsUsingGET_3","produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ID of the IFI (on-boarded organization) under which the beneficiary accounts are being retrieved","required":false,"type":"integer","format":"int64"},{"name":"companyID","in":"path","description":"ID of the company for whom the beneficiary is being created","required":false,"type":"string"},{"name":"beneficiaryID","in":"path","description":"beneficiaryID","required":true,"type":"string"},{"name":"sortBy","in":"query","description":"sortBy","required":false,"type":"string","default":"created_at"},{"name":"sortOrder","in":"query","description":"sortOrder","required":false,"type":"string","default":"asc"},{"name":"pageNumber","in":"query","description":"pageNumber","required":false,"type":"integer","default":1,"format":"int64"},{"name":"pageSize","in":"query","description":"pageSize","required":false,"type":"integer","default":20,"format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagedModel"}}}}},"/api/v1/ifi/{ifiID}/companies/{companyID}/beneficiaries/{beneficiaryID}/transfers":{"post":{"tags":["Beneficiary Transfers"],"summary":"Perform transfer to a beneficiary account of an company","operationId":"transferToBeneficiaryAccountUsingPOST_6","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ID of the IFI (on-boarded organization) under which the beneficiary transfer is being performed","required":false,"type":"integer","format":"int64"},{"name":"companyID","in":"path","description":"ID of the company who is performing the beneficiary transfer","required":false,"type":"string"},{"name":"beneficiaryID","in":"path","description":"ID of the beneficiary to whom the transfer is being performed","required":false,"type":"string"},{"name":"beneficiaryAccountID","in":"path","description":"ID of the account of beneficiary to which money has to be transferred","required":false,"type":"string"},{"in":"body","name":"beneficiaryAccountTransactionFusionRequest","description":"beneficiaryAccountTransactionFusionRequest","required":true,"schema":{"$ref":"#/definitions/BeneficiaryAccountTransactionFusionRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BeneficiaryTransactionFusionResponse"}}}}},"/api/v1/ifi/{ifiID}/companies/{companyID}/beneficiaries{?sortBy,sortOrder,pageNumber,pageSize}":{"get":{"tags":["corporate-beneficiary-controller-v-1"],"summary":"Get all the beneficiaries of a company","operationId":"getBeneficiariesUsingGET_3","produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ID of the IFI (on-boarded organization) under which the beneficiary details are being retrieved","required":false,"type":"integer","format":"int64"},{"name":"companyID","in":"path","description":"ID of the company for whom the beneficiaries list are being retrieved","required":false,"type":"string"},{"name":"sortBy","in":"query","description":"sortBy","required":false,"type":"string"},{"name":"sortOrder","in":"query","description":"sortOrder","required":false,"type":"string"},{"name":"pageNumber","in":"query","description":"pageNumber","required":true,"type":"integer","format":"int64"},{"name":"pageSize","in":"query","description":"pageSize","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagedModel"}}}}},"/api/v1/ifi/{ifiID}/companies/{companyID}/beneficiaryTransfers/{transferID}":{"get":{"tags":["Beneficiary Transfers"],"summary":"Get the details of a transfer by ID","operationId":"getBeneficiaryTransferByIDUsingGET_3","produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ID of the IFI (on-boarded organization) under which the beneficiary transfer exists","required":false,"type":"integer","format":"int64"},{"name":"companyID","in":"path","description":"ID of the company for whom the beneficiary transfer details are being fetched","required":false,"type":"string"},{"name":"transferID","in":"path","description":"transferID","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BeneficiaryTransaction"}}}}},"/api/v1/ifi/{ifiID}/companies/{companyID}/beneficiaryTransfers{?sortBy,sortOrder,pageNumber,pageSize}":{"get":{"tags":["Beneficiary Transfers"],"summary":"Get all the beneficiary transfers of an company","operationId":"getAllBeneficiaryTransfersUsingGET_3","produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ID of the IFI (on-boarded organization) under which the beneficiary whose transfers are being retrieved","required":false,"type":"integer","format":"int64"},{"name":"companyID","in":"path","description":"ID of the company for whom the beneficiary transfers are being retrieved","required":false,"type":"string"},{"name":"sortBy","in":"query","description":"sortBy","required":false,"type":"string","default":"created_at"},{"name":"sortOrder","in":"query","description":"sortOrder","required":false,"type":"string","default":"asc"},{"name":"pageNumber","in":"query","description":"pageNumber","required":false,"type":"integer","default":1,"format":"int64"},{"name":"pageSize","in":"query","description":"pageSize","required":false,"type":"integer","default":20,"format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagedModel"}}}}},"/api/v1/ifi/{ifiID}/createExtendedProduct":{"post":{"tags":["athena-manager-controller-v-2"],"summary":"CreateExtendedProduct api via fusion","operationId":"createExtendedProductUsingPOST_2","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ifiID","required":true,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/CreateExtendedProductRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Product"}}}}},"/api/v1/ifi/{ifiID}/createExtendedProductFamily":{"post":{"tags":["athena-manager-controller-v-2"],"summary":"CreateExtendedProductFamily api via fusion","operationId":"createExtendedProductFamilyUsingPOST_2","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ifiID","required":true,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/CreateExtendedProductFamilyRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ProductFamily"}}}}},"/api/v1/ifi/{ifiID}/crons/{cronID}":{"get":{"tags":["Cron"],"summary":"get","description":"This is on per ifi basis","operationId":"getUsingGET","produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ifiID","required":true,"type":"integer","format":"int64"},{"name":"cronID","in":"path","description":"cronID","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CronDetails"}}}},"put":{"tags":["Cron"],"summary":"update","description":"This is on per ifi basis","operationId":"updateUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ifiID","required":true,"type":"integer","format":"int64"},{"name":"cronID","in":"path","description":"cronID","required":true,"type":"string"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/UpdateCronDetailsRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CronDetails"}}}}},"/api/v1/ifi/{ifiID}/crons{?type,status}":{"get":{"tags":["Cron"],"summary":"get","description":"This is on per ifi basis","operationId":"getUsingGET_1","produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ifiID","required":true,"type":"integer","format":"int64"},{"name":"type","in":"query","description":"type","required":true,"type":"string"},{"name":"status","in":"query","description":"status","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagedModel«CronDetails»"}}}}},"/api/v1/ifi/{ifiID}/entityGroups{?entityType}":{"get":{"tags":["athena-manager-controller-v-2"],"summary":"Get EntityGrouplist for a given ifi and entityType","operationId":"getEntityGroupListUsingGET_2","produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ifiID","required":true,"type":"integer","format":"int64"},{"name":"entityType","in":"query","description":"entityType","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ListEntityGroupResponse"}}}}},"/api/v1/ifi/{ifiID}/fetchAndBlockResourceForOFACViolations":{"post":{"tags":["Cron"],"summary":"Fetch next batch of account holders and block resources for ones failing OFAC checks","description":"This is on per ifi basis","operationId":"onOFACViolationUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ID of the IFI (on-boarded organization) under which the violation is observed","required":false,"type":"integer","format":"int64"},{"name":"requestHeaders","in":"header","description":"requestHeaders","required":true,"items":{"type":"object","additionalProperties":{"type":"string"}}},{"in":"body","name":"requestBody","description":"requestBody","required":true,"schema":{"$ref":"#/definitions/JsonObject"}}],"responses":{"200":{"description":"OK"}}}},"/api/v1/ifi/{ifiID}/form_factor_products/{formFactorProductID}":{"get":{"tags":["payment-controller"],"summary":"getFormFactorProduct","description":"Get Form Factor Product details by ID","operationId":"getFormFactorProductUsingGET","produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ifiID","required":true,"type":"string"},{"name":"formFactorProductID","in":"path","description":"formFactorProductID","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/FormFactorProduct"}}}}},"/api/v1/ifi/{ifiID}/fusion-config":{"post":{"tags":["fusion-config-controller"],"summary":"createFusionConfig","operationId":"createFusionConfigUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"addFusionConfigRequest","description":"addFusionConfigRequest","required":true,"schema":{"$ref":"#/definitions/AddFusionConfigRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/FusionConfigResponse"}}}}},"/api/v1/ifi/{ifiID}/fusion-config/{configID}":{"get":{"tags":["fusion-config-controller"],"summary":"getFusionConfigByID","operationId":"getFusionConfigByIDUsingGET","produces":["*/*"],"parameters":[{"name":"configID","in":"path","description":"ID of the fusionConfig whose details are being retrieved","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/FusionConfigResponse"}}}},"put":{"tags":["fusion-config-controller"],"summary":"updateFusionConfig","operationId":"updateFusionConfigUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"configID","in":"path","description":"ID of the fusionConfig whose details are being updated","required":false,"type":"string"},{"in":"body","name":"updateFusionConfigRequest","description":"updateFusionConfigRequest","required":true,"schema":{"$ref":"#/definitions/UpdateFusionConfigRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/FusionConfigResponse"}}}},"delete":{"tags":["fusion-config-controller"],"summary":"deleteConfigByID","operationId":"deleteConfigByIDUsingDELETE","produces":["*/*"],"parameters":[{"name":"configID","in":"path","description":"ID of the fusionConfig whose details are being deleted","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}}}}},"/api/v1/ifi/{ifiID}/fusion-config{?pageNumber,pageSize,sortBy,sortOrder}":{"get":{"tags":["fusion-config-controller"],"summary":"getAllFusionConfigs","operationId":"getAllFusionConfigsUsingGET","produces":["*/*"],"parameters":[{"name":"pageNumber","in":"query","description":"pageNumber","required":true,"type":"integer","format":"int64"},{"name":"pageSize","in":"query","description":"pageSize","required":true,"type":"integer","format":"int64"},{"name":"sortBy","in":"query","description":"sortBy","required":false,"type":"string","default":"createdAt"},{"name":"sortOrder","in":"query","description":"sortOrder","required":false,"type":"string","default":"asc"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagedModel"}}}}},"/api/v1/ifi/{ifiID}/getAllAccountHolders":{"get":{"tags":["AccountHolder Management"],"summary":"Get paginated AccountHolders list of type belonging to ifi","operationId":"getAllAccountHoldersUsingGET_1","produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ID of the IFI (on-boarded organization) under which the individual exists","required":false,"type":"integer","format":"int64"},{"in":"body","name":"pageNumber","description":"pageNumber","required":false,"schema":{"type":"integer","format":"int32"}},{"in":"body","name":"pageSize","description":"pageSize","required":false,"schema":{"type":"integer","format":"int32"}},{"in":"body","name":"accountHolderType","description":"accountHolderType","required":false,"schema":{"type":"string","enum":["REAL","LEGAL","HEADLESS"]}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GetAllAccountHoldersResponse"}}}}},"/api/v1/ifi/{ifiID}/individualApplications/{applicationID}":{"get":{"tags":["AccountHolder Management"],"summary":"Get the application details for an individual by ID","operationId":"getAccountHolderUsingGET","produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ID of the IFI (on-boarded organization) under which the application exists","required":false,"type":"integer","format":"int64"},{"name":"applicationID","in":"path","description":"ID of the application which is being fetched","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AccountHolder"}}}}},"/api/v1/ifi/{ifiID}/individualApplications/{applicationID}/pops":{"get":{"tags":["AccountHolder Management"],"summary":"Get all the Point of Presence(POP)s of an individual","operationId":"getAccountHolderPopsUsingGET_1","produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ID of the IFI (on-boarded organization) under which the account holder POP exists","required":false,"type":"integer","format":"int64"},{"name":"applicationID","in":"path","description":"ID of the application for which the account holder POP is being retrieved","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GetPOPListResponse"}}}},"post":{"tags":["AccountHolder Management"],"summary":"Create the Point of Presence(POP) of an individual","operationId":"addAccountHolderPopUsingPOST_1","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"ifiID","in":"path","description":"ID of the IFI (on-boarded organization) under which the individual\u0027s POPs exist","required":false,"type":"integer","format":"int64"},{"name":"applicationID","in":"path","description":"ID of the application for which the POP is being created","required":false,"type":"string"},{"in":"body","name":"addAccountHolderPOPRequest","description":"addAccountHolderPOPRequest","required":true,"schema":{"$ref":"#/definitions/AddAccountHolderPOPRequest"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/POP"}}}}},"/api/v1/ifi/{ifiID}/individualApplications/{applicationID}/pops/{popID}":{"get":{"tags":["AccountHolder Management"],"summary":"Get the Point of Presence(POP) of an individual by ID","operationId":"getAccountHolderPopsByIDUsingGET_1","produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ID of the IFI (on-boarded organization) under which the individual\u0027s POP exists","required":false,"type":"integer","format":"int64"},{"name":"applicationID","in":"path","description":"ID of the application for which the account holder POP is being retrieved","required":false,"type":"string"},{"name":"popID","in":"path","description":"ID of the POP whose details are being retrieved","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/POP"}}}}},"/api/v1/ifi/{ifiID}/individualApplications/{applicationID}/relationships":{"get":{"tags":["AccountHolder Management"],"summary":"Get all relationships of an individual","operationId":"getAccountHolderRelationshipsUsingGET_1","produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ID of the IFI (on-boarded organization) under which the account holder relationships exist","required":false,"type":"integer","format":"int64"},{"name":"applicationID","in":"path","description":"ID of the application for which the account holder relationships are being retrieved","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GetAccountHolderRelationListResponse"}}}},"post":{"tags":["AccountHolder Management"],"summary":"Create the relationship for an individual","operationId":"addAccountHolderRelationshipUsingPOST_1","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"ifiID","in":"path","description":"ID of the IFI (on-boarded organization) under which the account holder relation is being created","required":false,"type":"integer","format":"int64"},{"name":"applicationID","in":"path","description":"ID of the application for which the account holder relation is being created","required":false,"type":"string"},{"in":"body","name":"addAccountHolderRelationshipRequest","description":"addAccountHolderRelationshipRequest","required":true,"schema":{"$ref":"#/definitions/AddAccountHolderRelationshipRequest"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/AccountHolderRelation"}}}}},"/api/v1/ifi/{ifiID}/individualApplications/{applicationID}/relationships/{relationshipID}":{"get":{"tags":["AccountHolder Management"],"summary":"Get a specific individual\u0027s relationship by ID","operationId":"getAccountHolderRelationshipByIDUsingGET_1","produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ID of the IFI (on-boarded organization) under which the account holder relationship exists","required":false,"type":"integer","format":"int64"},{"name":"applicationID","in":"path","description":"ID of the application for which the account holder relationship is being created","required":false,"type":"string"},{"name":"relationshipID","in":"path","description":"ID of the relationship whose details are being retrieved","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AccountHolderRelation"}}}}},"/api/v1/ifi/{ifiID}/individualApplications/{applicationID}/vectors":{"post":{"tags":["AccountHolder Management"],"summary":"Create the vector for an individual","operationId":"addAccountHolderVectorUsingPOST_1","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"ifiID","in":"path","description":"ID of the IFI (on-boarded organization) under which the account holder vector is being created","required":false,"type":"integer","format":"int64"},{"name":"applicationID","in":"path","description":"ID of the application for which the account holder vector is being created","required":false,"type":"string"},{"in":"body","name":"addAccountHolderVectorRequest","description":"addAccountHolderVectorRequest","required":true,"schema":{"$ref":"#/definitions/AddAccountHolderVectorRequest"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/AccountHolderVector"}}}}},"/api/v1/ifi/{ifiID}/individualApplications/{applicationID}/vectors/{vectorID}":{"get":{"tags":["AccountHolder Management"],"summary":"Get the vector of an individual by ID","operationId":"getAccountHolderVectorUsingGET_1","produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ID of the IFI (on-boarded organization) under which the account holder","required":false,"type":"integer","format":"int64"},{"name":"applicationID","in":"path","description":"ID of the application for which the account holder vector is being retrieved","required":false,"type":"string"},{"name":"vectorID","in":"path","description":"ID of the vector whose details are being retrieved","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AccountHolderVector"}}}}},"/api/v1/ifi/{ifiID}/individualByVector/{vectorType}/{vectorValue}":{"get":{"tags":["AccountHolder Management"],"summary":"getAccountHolderByVector","operationId":"getAccountHolderByVectorUsingGET_1","produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ID of the IFI (on-boarded organization) under which the account holder","required":false,"type":"integer","format":"int64"},{"name":"vectorType","in":"path","description":"vectorType","required":true,"type":"string"},{"name":"vectorValue","in":"path","description":"vectorValue","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AccountHolder"}}}}},"/api/v1/ifi/{ifiID}/individuals/{individualID}":{"get":{"tags":["AccountHolder Management"],"summary":"Get details of an individual by ID","operationId":"getAccountHoldersUsingGET","produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ID of the IFI (on-boarded organization) under which the individual exists","required":false,"type":"integer","format":"int64"},{"name":"individualID","in":"path","description":"ID of the individual whose details are being retrieved","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AccountHolder"}}}}},"/api/v1/ifi/{ifiID}/individuals/{individualID}/accounts":{"get":{"tags":["Account Management"],"summary":"Get all accounts of an individual","operationId":"getAccountsUsingGET_3","produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ID of the IFI (on-boarded organization) under which the accounts exist","required":false,"type":"integer","format":"int64"},{"name":"individualID","in":"path","description":"ID of the individual whose accounts are being retrieved","required":false,"type":"string"},{"in":"body","name":"programID","description":"programID","required":false,"schema":{"type":"string"}},{"in":"body","name":"productID","description":"productID","required":false,"schema":{"type":"integer","format":"int64"}},{"in":"body","name":"productFamilyID","description":"productFamilyID","required":false,"schema":{"type":"integer","format":"int64"}},{"in":"body","name":"accountProviderID","description":"accountProviderID","required":false,"schema":{"type":"string"}},{"in":"body","name":"status","description":"status","required":false,"schema":{"type":"string"}},{"in":"body","name":"pageNumber","description":"pageNumber","required":false,"schema":{"type":"integer","format":"int64"}},{"in":"body","name":"pageSize","description":"pageSize","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GetAccountListResponse"}}}}},"/api/v1/ifi/{ifiID}/individuals/{individualID}/beneficiaries":{"get":{"tags":["beneficiary-controller-v-1"],"summary":"Get all the beneficiaries of an individual","operationId":"getBeneficiariesUsingGET_1","produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ID of the IFI (on-boarded organization) under which the beneficiary details are being retrieved","required":false,"type":"integer","format":"int64"},{"name":"individualID","in":"path","description":"ID of the individual for whom the beneficiaries list are being retrieved","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BeneficiaryListResponse"}}}},"post":{"tags":["beneficiary-controller-v-1"],"summary":"Create a new beneficiary of an individual","operationId":"createBeneficiaryUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ID of the IFI (on-boarded organization) under which the beneficiary is being created","required":false,"type":"integer","format":"int64"},{"name":"individualID","in":"path","description":"ID of the individual for whom the beneficiary is being created","required":false,"type":"string"},{"in":"body","name":"createBeneficiaryRequest","description":"createBeneficiaryRequest","required":true,"schema":{"$ref":"#/definitions/CreateBeneficiaryRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Beneficiary"}}}}},"/api/v1/ifi/{ifiID}/individuals/{individualID}/beneficiaries/{beneficiaryID}":{"get":{"tags":["beneficiary-controller-v-1"],"summary":"Get details of a beneficiary by ID","operationId":"getBeneficiaryByIDUsingGET_1","produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ID of the IFI (on-boarded organization) under which the beneficiary exists","required":false,"type":"integer","format":"int64"},{"name":"individualID","in":"path","description":"ID of the individual for whom the beneficiary details are being retrieved","required":false,"type":"string"},{"name":"beneficiaryID","in":"path","description":"ID of the beneficiary whose details are being retrieved","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Beneficiary"}}}},"put":{"tags":["beneficiary-controller-v-1"],"summary":"Update a beneficiary of an individual","operationId":"updateBeneficiaryUsingPUT_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ID of the IFI (on-boarded organization) under which the beneficiary is being created","required":false,"type":"integer","format":"int64"},{"name":"individualID","in":"path","description":"ID of the individual for whom the beneficiary is being created","required":false,"type":"string"},{"name":"beneficiaryID","in":"path","description":"ID of the beneficiary which is being updated belonging to an individual","required":false,"type":"string"},{"in":"body","name":"updateBeneficiaryRequest","description":"updateBeneficiaryRequest","required":true,"schema":{"$ref":"#/definitions/UpdateBeneficiaryRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Beneficiary"}}}},"delete":{"tags":["beneficiary-controller-v-1"],"summary":"Delete a beneficiary of an individual","operationId":"deleteBeneficiaryUsingDELETE_1","produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ID of the IFI (on-boarded organization) under which the beneficiary is being created","required":false,"type":"integer","format":"int64"},{"name":"individualID","in":"path","description":"ID of the individual for whom the beneficiary is being created","required":false,"type":"string"},{"name":"beneficiaryID","in":"path","description":"ID of the beneficiary which is being updated belonging to an individual","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Beneficiary"}}}}},"/api/v1/ifi/{ifiID}/individuals/{individualID}/beneficiaries/{beneficiaryID}/accounts":{"get":{"tags":["beneficiary-controller-v-1"],"summary":"Get all the accounts of a beneficiary","operationId":"getBeneficiaryAccountsUsingGET_1","produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ID of the IFI (on-boarded organization) under which the beneficiary accounts are being retrieved","required":false,"type":"integer","format":"int64"},{"name":"individualID","in":"path","description":"ID of the individual for whom the beneficiary accounts are being retrieved","required":false,"type":"string"},{"name":"beneficiaryID","in":"path","description":"beneficiaryID","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BeneficiaryAccountListResponse"}}}},"post":{"tags":["beneficiary-controller-v-1"],"summary":"Creation of a beneficiary account","operationId":"createBeneficiaryAccountUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"ifiID","in":"path","description":"ID of the IFI (on-boarded organization) under which the beneficiary account is being created","required":false,"type":"integer","format":"int64"},{"name":"individualID","in":"path","description":"ID of the individual for whom the beneficiary account is being created","required":false,"type":"string"},{"name":"beneficiaryID","in":"path","description":"beneficiaryID","required":true,"type":"string"},{"in":"body","name":"addBeneficiaryAccountRequest","description":"addBeneficiaryAccountRequest","required":true,"schema":{"$ref":"#/definitions/AddBeneficiaryAccountForBeneficiaryRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BeneficiaryAccount"}}}}},"/api/v1/ifi/{ifiID}/individuals/{individualID}/beneficiaries/{beneficiaryID}/accounts/{accountID}":{"get":{"tags":["beneficiary-controller-v-1"],"summary":"Get details of a specific beneficiary account of an individual\u0027s beneficiary ","operat
[...]
